.position-class.thanks {
  padding-top: calc(139.47px + 118.59px);
  background: #ecf8ff;
}

.thanks-content {
  display: flex;
  justify-content: center;
}

.left-thanks {
  margin-right: 76.12px;
}

.right-thanks ul {
  display: flex;
  margin-bottom: 27.47px;
}
.right-thanks ul li {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  list-style: none;
  background: #466eb6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-thanks ul li:hover {
  background: #34e490;
}
.right-thanks ul li:not(:last-child) {
  margin-right: 22.84px;
}
.thanks-soc-link {
  display: block;
}

.thanks-soc-icon {
  display: block;
  width: 22px;
  height: 22px;
}

.right-thanks h1 {
  width: 548px;
  font-weight: 800;
  font-size: 75px;
  line-height: 63px;

  color: #111111;
  margin-bottom: 31.21px;
}
.right-thanks span {
  font-weight: 800;
  font-size: 45px;
  line-height: 50%;
  /* or 83px */

  color: #466eb6;
}
